<%- include('../partials/header') %>
<main>
    <h2>Opis aplikacji</h2>
    <p>To prosta aplikacja pozwalająca dodawać, usuwać oraz edytować piratów drogowych.</p>
    <p>Zastosowane technologie: Node.js, Express, EJS, MongoDB.</p>
</main>
<%- include('../partials/footer') %>