<%- include('../partials/header') %>
<main>
    <h2>Dodaj Pirata</h2>
    <form action="/add" method="POST">
        <input type = "text" name="name" id ="name" placeholder="imie" required><br><br>
        <input type = "text" name="surname" id ="surname" placeholder="nazwisko" required><br><br>
        <input type = "text" name="brand" id ="brand" placeholder="marka  samochodu" required><br><br>
        <textarea name="content" id ="content" placeholder="opis przewinienia"> </textarea><br>
        <button type = "submit" > Zapisz zmian</button>
    </form>
</main>
<%- include('../partials/footer') %>